<div id="disqus_container">
  <div class="share-con">
    <script type="text/javascript" charset="utf-8">
      (function() {
        var param = {
          url: 'http://FRL1994.github.io{{ page.url }}',
          type: '6',
          title: '《{{ page.title }}》' + '- {{ page.description }}',
          ralateUid: '2150770757',
          rnd: new Date().valueOf()
        }
        var temp = [];
        for (var p in param) {
          temp.push(p + '=' + encodeURIComponent(param[p] || ''))
        }
        document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="86" height="16"></iframe>')
      })()
    </script>
  </div>
  <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=ff0a307e58620b37cb3aacbc273ab1ec20ffecacfb88b621239caacfc4e38bb6"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="猿媛茶馆" title="猿媛茶馆"></a>
</div>
